<article class="appearance" data-id="{{ item.id }}">
    <figure class="photo">
        <img src="{{ item.image.url }}">
        {{#each item.product_occurrences}}
            <div class="product-indicator" style="top: {{position.y}}%; left: {{position.x}}%;" data-uuid="{{product.id}}"></div>
        {{/each}}
    </figure>
    <section class="product-list">
        <h2><img class="avatar" src="{{ item.subject.avatar.url }}"> {{ item.subject.name }}</h2>
        <h1>{{ item.title }}</h1>

        <section class="products">
        <h1>Products</h1>
            {{#each products}}
                <section class="product" data-uuid="{{id}}">
                    <h1>Actual</h1>     
                    <figure class="actual">               
                        <img src="{{image.url}}">
                        <figcaption class="info">
                            <h1>{{ name }}</h1>
                            <h2>{{ brand.name }}</h2>
                        </figcaption>
                    </figure>
                    {{#each similars}}
                        <h1>{{ similar_type }}</h1>
                        <figure class="similar">
                            <img src="{{image.url}}">
                            <figcaption class="info">
                                <h1>{{ name }}</h1>
                                <h2>{{ brand.name }}</h2>
                            </figcaption>
                        </figure>
                    {{/each}}
                </section>
            {{/each}}
        </section>
    </section>
</article>